@use './variables' as var;
@use './mixins' as mix;

.rating {
	background: var.$dark-blue-darker;
	margin-left: 6.4%;
	margin-right: 6.4%;
	padding: 2.4rem;
	border-radius: 1.5rem;

	@include mix.breakpoint(md) {
		max-width: 41.2rem;
		padding: 3.3rem;
		border-radius: 3rem;
	}

	&__icon {
		background: var.$dark-blue;
		width: 4rem;
		height: 4rem;
		border-radius: 50%;
		aspect-ratio: 1 / 1;
		display: grid;
		place-items: center;
		margin-bottom: 2rem;

		@include mix.breakpoint(md) {
			width: 4.8rem;
			height: 4.8rem;
			margin-bottom: 3rem;
		}

		img {
			transform: scale(0.8);

			@include mix.breakpoint(md) {
				transform: scale(1);
			}
		}
	}

	&__title {
		font-weight: 700;
		color: var.$white;
		font-size: 2.4rem;
		margin-bottom: 1.2rem;

		@include mix.breakpoint(md) {
			font-size: 2.8rem;
		}
	}

	&__desc {
		font-size: 1.4rem;
		line-height: 1.6;
		margin-bottom: 2.6rem;

		@include mix.breakpoint(md) {
			font-size: 1.5rem;
		}
	}

	&__number {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 2.2rem;

		@include mix.breakpoint(md) {
			margin-bottom: 3.2rem;
		}

		span {
			background: var.$dark-blue;
			width: 4rem;
			height: 4rem;
			border-radius: 50%;
			aspect-ratio: 1 / 1;
			font-size: 1.4rem;
			display: grid;
			place-items: center;
			cursor: pointer;

			@include mix.breakpoint(md) {
				width: 5rem;
				height: 5rem;
				font-size: 1.6rem;
			}

			&.active {
				background: var.$light-grey;
				color: var.$white;
			}

			&:hover {
				background: var.$orange;
				color: var.$white;
			}

			&:active {
				background: var.$light-grey;
				color: var.$white;
			}
		}
	}

	.btn {
		cursor: pointer;
		background: var.$orange;
		color: var.$white;
		text-transform: uppercase;
		border: none;
		border-radius: 20rem;
		width: 100%;
		padding: 1.55rem 2rem;
		height: 4.5rem;
		letter-spacing: 1.5px;
		font-size: 1.4rem;
		margin-bottom: 0.8rem;
		transition: all 0.2s linear;

		@include mix.breakpoint(md) {
			margin-bottom: 0rem;
		}

		&:hover,
		&:active {
			background: var.$white;
			color: var.$orange;
			transition: all 0.2s linear;
		}
	}
}

.thankyou {
	background: var.$dark-blue-darker;
	margin-left: 6.4%;
	margin-right: 6.4%;
	padding: 2.4rem;
	padding-top: 3.4rem;
	border-radius: 1.5rem;
	text-align: center;
	position: relative;

	@include mix.breakpoint(md) {
		max-width: 41.2rem;
		padding: 3.5rem;
		padding-top: 4.5rem;
		border-radius: 3rem;
	}

	.back {
		position: absolute;
		color: var.$orange;
		top: 2rem;
		left: 2rem;
		background: var.$dark-blue;
		padding: 0.5rem 1.5rem;
		border: none;
		border-radius: 20rem;
		cursor: pointer;
		font-size: 1.6rem;
		font-weight: 700;
		text-decoration: underline;
		text-underline-offset: 4px;

		&:hover {
			background: var.$orange;
			color: var.$white;
		}
	}

	&__image {
		margin: 0 auto;
		max-width: 14rem;
		aspect-ratio: 162 / 108;
		margin-bottom: 2rem;

		@include mix.breakpoint(md) {
			max-width: 16rem;
			margin-bottom: 2.4rem;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	&__info {
		background: var.$dark-blue;
		padding: 1rem 2rem;
		border-radius: 40rem;
		width: max-content;
		font-size: 1.4rem;
		color: var.$orange;
		text-align: center;
		margin: 0 auto;
		margin-bottom: 2.4rem;

		@include mix.breakpoint(md) {
			font-size: 1.5rem;
			margin-bottom: 3rem;
		}
	}

	&__title {
		font-weight: 700;
		color: var.$white;
		font-size: 2.4rem;
		margin-bottom: 1.2rem;

		@include mix.breakpoint(md) {
			font-size: 2.8rem;
		}
	}

	&__desc {
		font-size: 1.4rem;
		line-height: 1.6;
		margin-bottom: 1.4rem;

		@include mix.breakpoint(md) {
			font-size: 1.5rem;
			margin-bottom: 1rem;
		}
	}
}

.attribution {
	position: absolute;
	font-size: 1.1rem;
	line-height: 1.6;
	text-align: center;
	bottom: 3rem;
	left: 50%;
	transform: translateX(-50%);

	@include mix.breakpoint(md) {
		font-size: 1.3rem;
		bottom: 1rem;
	}

	a {
		color: var.$orange;
		text-decoration: none;

		&:hover {
			font-weight: 700;
		}
	}
}

.hidden {
	display: none;
}
